.diagnostics-table .failure {
    background-color: #C33;
    color: #fff;
    font-weight: bold;
    padding:5px 7px;
}

.diagnostics-table .warning {
    background-color: #F93;
    color: #fff;
    font-weight: bold;
    padding:5px 7px;
}

.diagnostics-table th:first-child {
    width: 20%;
}

.diagnostics-table th:nth-child(2){
    width: 27%;
}

.diagnostics-table th:nth-child(3) {
    width: 8%;
    text-align: center;
}

.diagnostics-table td:nth-child(3) {
    text-align: center;
}

.diagnostics-table th:nth-child(4) {
    width: 44%;
}
